body {
    font-family: Arial, sans-serif;   
    margin: 0;
    padding: 0;
  }
  .background-image {
	background-color: rgb(247, 246, 246);
	background-size: cover;
	background-position: center;
	position: fixed;
	top: 0;
	left: 0;
    bottom:0;
    right:0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
  
  #appliance-form {
    display: flex;
    flex-wrap: wrap;
    flex-direc
    margin: 0;
    padding: 0;
  }
  
  .category {
    flex-basis: 33%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .category h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .category li {
    margin-bottom: 10px;
  }
  
  .category label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .category input[type="number"] {
    width: 100px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  @media (max-width: 600px) {
    .category {
      flex-basis: 100%;
    }
  }
  .button1 {
    width: 150px;
    height: 50px;
    margin-left:600px;
    border: 3px solid #8e44ad;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
  }
  
  .button1:hover {
    background: #78359a;
    color: white;
    font-size: 1.5em;
  }
  